.wrapper {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  .title {
    font-size: 17px;
    color: var(--page-label);
    margin-bottom: 20px;
  }

  .showArea {
		position: relative;
    width: 80%;
    height: 100%;
    background-color: var(--tab-font-color);
    padding: 5px;
    color: var(--text-area);
    border-radius: 10px;

		&.edit {
			.input {
				display: block;
			}
			.text {
				display: none;
			}
		}

		.text{
			white-space: pre-line; //實現換行效果 會合併連續空白
		}

    .input {
			display: none;
			position: absolute;
			top:0;
			left:0;
      resize: none;
      width: 100%;
      height: 100%;
      background-color: var(--tab-font-color);
      padding: 5px;
      color: var(--text-area);
			border: none;
      border-radius: 10px;
			font-size: 17px;
			z-index: 2;

			&:focus{
				outline: 3px solid var(--green-tab-hover);
			}
    }
  }
}
