:root {
  --blue-tab: #b5c8f2;
  --pink-tab: #fec5ce;
  --green-tab: #d8e2da;
  --main-background: #f8ebd8;
  --page-background: #eaece9;
  --title: #c5b8a5;
  --main-label: #b7b1a5;
  --page-label: #a29ead;
	--tab-font-color:#faf9f5;
	--blue-tab-hover:#aab4e2;
	--pink-tab-hover:#f5adb8;
	--green-tab-hover:#abc8cc;
  --text-area:#868faf;
}

